.trending-films {
  display: flex;
  overflow-x: hidden;
  gap: 20px;
  -ms-overflow-style: none;
  position: relative;
}

.h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -0.5px;
  padding-top: 10px;

  color: var(--color-white);
}

.trending_recommendations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  row-gap: 10px;
  padding-right: 30px;
  width: 93vw;
}

.trending-films_arrows {
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.arrow {
  color: var(--color-bg_grey);
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.arrow:hover {
  color: var(--color-white);
}

@media screen and (max-width: 850px) {
  .trending_recommendations {
    grid-template-columns: repeat(3, 1fr);
    padding-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .trending_recommendations {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
    width: 100%;
  }
}
