.series-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
  padding-right: 30px;
  width: 93vw;
}

@media screen and (max-width: 850px) {
  .series-container {
    grid-template-columns: repeat(3, 1fr);
    padding-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .series-container {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
    width: 100%;
  }
}
