.tendCard {
  position: relative;
  color: var(--color-white);
  font-family: var(--font-family);
  max-width: fit-content;
  display: inline-block;
  cursor: pointer;
}
.trendCard-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trendCard-content__about {
  width: 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trendCard-content__about div {
  height: 3px;
  width: 3px;
  border-radius: 3px;
  background: var(--color-white);
}
.trendCard-content__about p {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;

  mix-blend-mode: normal;
  opacity: 0.75;
}
.trendCard-content h4 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;

  color: var(--color-white);
}

.tending-image {
  height: 180px;
  width: 420px;
  border-radius: 10px;
}
.trendCard-content {
  position: absolute;
  top: 70%;
  margin-left: 2rem;
}

.trendCard_bookmark {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--color-bg_grey);
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}
.trendCard_bookmark:hover {
  background: var(--color-white);
  color: var(--color-bg_grey);
}

.trendCard_overlay {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.438);

  position: absolute;
  top: 0%;

  display: none;
}
.trendCard:hover .trendCard_overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trendCard_play {
  display: flex;
  gap: 5px;
  align-items: center;
  background: rgba(255, 255, 255, 0.267);
  padding: 5px 8px;
  border-radius: 15px;
}

@media screen and (max-width: 850px) {
  .tending-image {
    width: 400px;
  }
}
@media screen and (max-width: 550px) {
  .tending-image {
    width: 260px;
  }
}
