.movies-bookmarked,
.tvseries-bookmarked {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
  padding-right: 30px;
  width: 93vw;
}

#h2 {
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 20px;
  font-weight: 400;
  padding: 1rem 0;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 850px) {
  .movies-bookmarked,
  .tvseries-bookmarked {
    grid-template-columns: repeat(3, 1fr);
    padding-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .movies-bookmarked,
  .tvseries-bookmarked {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
    width: 100%;
  }
}
